*,
*::before,
*::after{
    box-sizing: border-box;
}

/* .form{
    width: 70%;
    margin: 10vh auto;
} */
img{
    object-fit: contain;
    width: 100%/9;
    height: auto;
}


.form-control{
    border: 1px solid #ced4da;
}

.form-control:focus{
    border-color: none ;
}

/* Media queries */

@media screen and (max-width: 468px){
    img{
        display: none;
    }
}